html, body{
	overflow-x: hidden;
	font-family: "Open sans", sans-serif;
	color: #000000;
	text-decoration: none;
}

/*Side bar nav*/
      .offcanvas-body .navbar-nav{
        margin-top: 16px;
      }

      .offcanvas-body .navbar-nav li{
        height: 50px; 
        width: 100%;
        list-style: none;
      }

      .offcanvas-body .navbar-nav li a{

        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        text-decoration: none;
        transition: all 0.4s ease;
      }

      .offcanvas-body .navbar-nav li a i{

        min-width: 60px;
        text-align: center;
        color: #fff;
        font-size: 18px;
      }
      .offcanvas-body .navbar-nav li a:hover{
        background: #081D45;
      }

      .offcanvas-body .navbar-nav li a .link-name{

        font-size: 15px;
        font-weight: 400;
      }   




*,
*:before,
*:after{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a{
	color: #00ff99;
	position: relative;
	text-decoration: none;
}

a.navbar-menu:after{
	content: "";
	position: absolute;
	background-color: #ff3c78;
	height: 3px;
	width: 0;
	left: 0;
	bottom: -10px;
	transition: 0.3s;
}

a:hover{
	color: #ffffff;
}

a.navbar-menu:hover:after{
	width: 100%;
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
	font-family: "Roboto", sans-serif;
	text-decoration: none;
}

.navbar-menu{
	margin: 11px;
}

@media screen and (max-width: 950px)
{
	.media{
		
	}
}

.navbar-menu, .navbar-brand{
	text-transform: uppercase;
}

.offcanvas-title{
	font-size: 20px;
	text-transform: uppercase;
}

.btn{
	background-color: #00ff99;
}

.bg-img{
	background: url('../images/background_4.jpg') no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 100vh;
	height: 100%;
}

/*Dashboard*/
/*Side bar nav*/
.offcanvas-body .navbar-nav li a:hover{
	background: #081D45;
}

/*Side bar nav*/
      .offcanvas-body .navbar-nav{
        margin-top: 16px;
      }

      .offcanvas-body .navbar-nav li{
        height: 50px; 
        width: 100%;
        list-style: none;
      }

      .offcanvas-body .navbar-nav li a{
        
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        text-decoration: none;
        transition: all 0.4s ease;
      }

      .offcanvas-body .navbar-nav li a i{
        
        min-width: 60px;
        text-align: center;
        color: #fff;
        font-size: 18px;
      }
      .offcanvas-body .navbar-nav li a:hover{
        background: #081D45;
      }

      .offcanvas-body .navbar-nav li a .link-name{
        
        font-size: 15px;
        font-weight: 400;
      }

@media (max-width: 900px) {
  .working-with-me h3 {
    font-size: 26px;
  }
  .working-with-me ul {
    font-size:  12px;
  }
}
@media (max-width: 768px) {
  .working-with-me h3 {
    font-size: 20px !important;
  }
  .working-with-me ul {
    font-size:  10px !important;
  }
@media (max-width: 600px) {
  .working-with-me h3 {
    font-size: 16px !important;
  }
@media (max-width: 400px) {
  #services-content-working h1 {
    font-size: 20px;
  }
  .working-with-me {
    width: 90%;
  }
  .working-with-me h3 {
    font-size: 10px !important;
  }

  


